<div class="main-container">
    <button mat-fab extended class="button-1" disabledInteractive="true">
        
    </button>
    <button mat-fab extended class="button-2" >
        
    </button>
    <button mat-fab extended class="button-3" >
        
    </button>

    <div class="category-container">Category 1-6</div>

    <button mat-fab extended class="button-4" >
        
    </button>
    <button mat-fab extended class="button-5" >
        
    </button>
    <button mat-fab extended class="button-6" >
        
    </button>
</div>
