<div class="main-container">
    <div class="player-one-container">
        <button mat-fab extended class="{{getAnswerStatus(0, true)}}">
        </button>
        <button mat-fab extended class="{{getAnswerStatus(1, true)}}">
        </button>
        <button mat-fab extended class="{{getAnswerStatus(2, true)}}">
        </button>
    </div>
    <div class="category-container">{{getCategory()}}</div>
    <div class="player-two-container">
        <button mat-fab extended class="{{getAnswerStatus(0, false)}}">
        </button>
        <button mat-fab extended class="{{getAnswerStatus(1, false)}}">
        </button>
        <button mat-fab extended class="{{getAnswerStatus(2, false)}}">
        </button>
    </div>
</div>
