<div class="main-container">
    <div class="player-one-container">
        <button mat-fab extended class="{{getAnswerStatus(0)}}">
        </button>
        <button mat-fab extended class="{{getAnswerStatus(1)}}">
        </button>
        <button mat-fab extended class="{{getAnswerStatus(2)}}">
        </button>
    </div>
    <div class="category-container">Category {{categoryNumber}}</div>
    <div class="player-two-container">
        <button mat-fab extended class="{{getAnswerStatus(3)}}">
        </button>
        <button mat-fab extended class="{{getAnswerStatus(4)}}">
        </button>
        <button mat-fab extended class="{{getAnswerStatus(5)}}">
        </button>
    </div>
</div>
