<header class="header">
  <h1>Very important question to ask?</h1>
</header>
<div class="answers">
  <div class="answerbox">
    <button class="button">I think this is the correct answer nr.1</button>
    <button class="button">Could also be answer nr.2 though</button>
  </div>
  <div class="answerbox">
    <button class="button">Not quite sure if nr.3 is correct</button>
    <button class="button">Maybe answer nr.4 is the right one after all</button>
  </div>
  <mat-progress-bar mode="determinate" [value]="progressbarValue"></mat-progress-bar>
</div>


