.header {
  text-align: center;
  text-transform: uppercase;
  padding: 32px;
  background-color: #1354b2;
  color: #fff;
  border-bottom: 4px solid deeppink;
}

.grid {
  margin-left: 15%;
  margin-right: 15%;
  background-color: midnightblue;
  height: auto;
  border-left: 6px solid deeppink;
  border-right: 6px solid deeppink;
  border-top: 6px solid deeppink;
}

.answerbox {
  width: 66%;
  height: 33%;
  max-width: 600px;
  max-height: 350px;
  border: 6px solid deeppink;
  text-align: center;
  font-size: 22px;
  padding-top: 13%;
  color: white;
  background-color: #1354b2;
  border-radius: 12px;
  cursor: pointer;
}

.answerbox:hover {
  background-color: white;
  color: #1354b2;
}

.answerbox:active {
  background-color: hotpink;
  color: #1354b2;
}

.correct {
  background-color: green;
}

.incorrect {
  background-color: red;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 5%;

}

button {
  margin-top: 15px;
  background-color: deeppink;
  color: #ffffff;
  font-size: 25px;
  border-radius: 6px;
  padding: 20px;
}

