body {
  margin: 200px auto;
  background: midnightblue;
}

.header {
  text-align: center;
  text-transform: uppercase;
  padding: 32px;
  background-color: #1354b2;
  color: #fff;
  border-bottom: 4px solid deeppink;
}

.grid {
  margin-left: 12%;
  margin-right: 12%;
  background-color: midnightblue;
  height: auto;
}

.answerbox {
  width: 80%;
  height: 50%;
  max-width: 600px;
  max-height: 350px;
  border: 6px solid deeppink;
  text-align: center;
  font-size: 22px;
  padding-top: 18%;
  color: white;
  background-color: #1354b2;
  border-radius: 12px;
  cursor: pointer;
}

.answerbox:hover {
  background-color: white;
  color: #1354b2;
}

.answerbox:active {
  background-color: hotpink;
  color: #1354b2;
}

.correct {
  background-color: green;
}

.incorrect {
  background-color: red;
}

