<!-- Question posed as header -->
<header class="header">
  <h1 *ngIf="isFirst">{{ htmlDecode(questions[0]?.question!) }}</h1>
  <h1 *ngIf="isSecond">{{ htmlDecode(questions[1]?.question!) }}</h1>
  <h1 *ngIf="isThird">{{ htmlDecode(questions[2]?.question!) }}</h1>
</header>

<!-- Stepper starting 3 questions -->
<mat-horizontal-stepper [linear]="true">

  <!-- First Question -->
  <mat-step>
    <ng-template matStepLabel>Question Nr.1</ng-template>
    <ng-template matStepContent>
      <div class="grid">
        <mat-grid-list cols="2" rowHeight="2:1">
          <mat-grid-tile *ngFor="let a of shuffledAnswersOne">
            <div class="answerbox"
                 (click)="clicked(a)"
                 [ngClass]="{'correct' : answered && a === questions[0]?.correct_answer,
                  'incorrect' : answered && a !== questions[0]?.correct_answer}">
              {{ htmlDecode(a) }}
            </div>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-progress-bar mode="determinate" class="timer" [value]="progressbarValue"></mat-progress-bar>
      </div>

      <!--Buttons appearing after questions has been answered -->
      <div class="buttons"> <!--*ngIf="isVisible"-->
        <button mat-button matStepperPrevious>Abort round</button>
        <button mat-button matStepperNext (click)="startTimer(30); setQuestionFlag(isFirst); setQuestionFlag(isSecond)">Next question</button>
      </div>
    </ng-template>
  </mat-step>

  <!-- Second Question -->
  <mat-step>
    <ng-template matStepLabel>Question Nr.2</ng-template>
    <ng-template matStepContent>
      <div class="grid">
        <mat-grid-list cols="2" rowHeight="2:1">
          <mat-grid-tile *ngFor="let a of shuffledAnswersTwo">
            <div class="answerbox"
                 (click)="clicked(a)"
                 [ngClass]="{'correct' : answered && a === questions[1]?.correct_answer,
                  'incorrect' : answered && a !== questions[1]?.correct_answer}">
              {{ htmlDecode(a) }}
            </div>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-progress-bar mode="determinate" class="timer" [value]="progressbarValue"></mat-progress-bar>
      </div>

      <!--Buttons appearing after questions has been answered -->
      <div class="buttons"> <!--*ngIf="isVisible"-->
        <button mat-button matStepperPrevious>Abort round</button>
        <button mat-button matStepperNext (click)="startTimer(30); setQuestionFlag(isSecond); setQuestionFlag(isThird)">Next question</button>
      </div>
    </ng-template>
  </mat-step>

  <!-- Third Question -->
  <mat-step>
    <ng-template matStepLabel>Question Nr.3</ng-template>
    <ng-template matStepContent>
      <div class="grid">
        <mat-grid-list cols="2" rowHeight="2:1">
          <mat-grid-tile *ngFor="let a of shuffledAnswersThree">
            <div class="answerbox"
                 (click)="clicked(a)"
                 [ngClass]="{'correct' : answered && a === questions[2]?.correct_answer,
                  'incorrect' : answered && a !== questions[2]?.correct_answer}">
              {{ htmlDecode(a) }}
            </div>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-progress-bar mode="determinate" class="timer" [value]="progressbarValue"></mat-progress-bar>
      </div>

      <!--Buttons appearing after questions has been answered -->
      <div class="buttons"> <!--*ngIf="isVisible"-->
        <button mat-button matStepperPrevious>Abort round</button>
        <button mat-button matStepperNext (click)="startTimer(30)">Next question</button>
      </div>
    </ng-template>
  </mat-step>
</mat-horizontal-stepper>

