<div class="main-container">
  <img src="assets/images/quizzAppLogo.jpeg" />
  <div class="sign-container">
    <mat-form-field hintLabel="Max 10 characters">
        <mat-label>Username</mat-label>
        <!--<input (keydown.enter)="createAccClicked()" [(ngModel)]="activePlayer.username" matInput placeholder="Ex. Dr. med. Rasen" value="">-->
    </mat-form-field>

    <mat-form-field hintLabel="Max 10 characters">
        <mat-label>E-Mail</mat-label>
       <!-- <input (keydown.enter)="createAccClicked()" [(ngModel)]="activePlayer.email" matInput placeholder="Ex. Dr. med. Rasen@intheKindergarden.com" value="">-->
    </mat-form-field>

    <mat-form-field hintLabel="Max 10 characters">
        <mat-label>Password</mat-label>
        <!--<input (keydown.enter)="createAccClicked()" [(ngModel)]="activePlayer.password" matInput placeholder="Ex. password123" value="">-->
    </mat-form-field>

    <button mat-flat-button color="primary" class="btn-createAcc" (click)="createAccClicked()">Create Account</button>
  </div>
  <div class="errormessage-container" *ngIf="showErrorMessage">
    <p class="errormessage">The given credentials dont match, please try again!</p>
  </div>
</div>
