.page-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(71, 166, 255);
}

form {
  background-color: #1354b2;
  width: 300px;
  height: 300px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

img {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.btn-createAcc {
  width: 75%;
  margin-bottom: 10px;
}

.errormessage {
  color: red;
  font-size: 15px;
  margin-top: 10px;
}
