<div class="main-container">
    <h1>Quizz-game overview</h1>
    <div class="player-point-container">
        <div class="player-container">
            <h2>Player 1</h2>
            <p>Points: $PLAYER1_POINTS$</p>
        </div>
        <div class="player-container">
            <h2>Player 2</h2>
            <p>Points: $PLAYER2_POINTS$</p>
        </div>
    </div>
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
    </mat-grid-list>
      
</div>