<div class="main-container">
    <img src="assets/images/quizzAppLogo.jpeg" />
    <div class="login-container">
        <mat-form-field class="example-full-width">
            <mat-label>Username/E-mail</mat-label>
            <input (keydown.enter)="loginClicked()" [(ngModel)]="activePlayer.email" matInput placeholder="Username" value="">
            
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input (keydown.enter)="loginClicked()" [(ngModel)]="activePlayer.password" matInput placeholder="Password" value="">
        </mat-form-field>

        <button mat-flat-button color="primary" class="btn-signin" (click)="signUpClicked()">Sign Up</button>
        <button mat-flat-button color="primary" class="btn-signin" (click)="loginClicked()">Login</button>
    </div>
    <div class="errormessage-container" *ngIf="showErrorMessage">
        <p class="errormessage">The given credentials dont match, please try again!</p>
    </div>
</div>