<!--<img src="assets/images/quizzAppLogo.jpeg" />
<div class="login-container">

    <form class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>Username/E-mail</mat-label>
            <input matInput placeholder="Ex. Dr. med. Rasen" value="">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Ex. password123" value="">
        </mat-form-field>
        <button mat-flat-button color="primary" class="btn-signin" (click)="signUpClicked()">Sign Up</button>
        <button mat-flat-button color="primary" class="btn-signin" (click)="signInClicked()">Login</button>
    </form>

</div>
-->
<div></div>
